body{
    background-image: url(anh.jpg);
    
}
h2{
    margin-left: 550px;
    margin-top: 200px;
  }
.chu{
    font-size: 20px;
    margin-left: 450px;
  }
  
 
button{
    background-color: rgb(236, 70, 70)   ;
    position: relative;
    left: 550px;
    font-size: 20px;
    height: 60px;
    transition: 0,4s linear ;
   
    border-radius: 15px;
  }
  button:hover{
    transform: scale(0.9);
  }

  
