body{
    background-color: rgb(227, 195, 153);
}
.box1{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;    
    padding-top: 60px;
}
h1{
    text-align: center;
}

.ista{
    width: 100%;
    border-color:
}
img{
    width: 20%;
    margin-left: 30%;
    border-radius: 16px ;
    transition: 0,6 ;
}
img:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
}
.face{
    width: 140px;
    hyphens: 140px;
}
p{
    width: 80%;
    text-align: center;
}
.google{
    padding-top: 36px;
}
.google img{
    width: 20%;
}
.youtube img{
    width: 24%;

}